:root{
    --primary : #fea116;
    --light : #f1f8ff;
    --dark : #0f172b;
    --principal :#faeedf;
}

body{
    background-color: #fff;
}


/*=============Navigation bar section================= sart*/

#Navbar{
    background: #f9f9f9;
    margin-bottom: 83px;
}
#logo{
    font-size: 36px;
    font-weight: 800;
    color: #0af51d;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
    margin-left: 50px;
}

#logo span{
    color: #0af51d;
}
.navbar{
    background-color: white;
}
.navbar-toggler span{
    color: #0af51d;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:hover{
    background: #0af51d;
}
.navbar-toggler:hover span{
    color: white;
}
.navbar-nav{
    margin-left: 20px;
}
.navbar-nav .navbar-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #0af51d;
    color: white;
}

.active, .nav-link:hover{
    border-radius: 15px;
    background: #0af51d;
    color: white;
}

/*=============Navigation bar section================= end*/



/*=============image scroll section================= sart*/


.home{
    position: relative;
    text-align: center;
    color: black;
}

.home #carouselExampleAutoplaying img{
    height: 87vh;
}

/* Centered text */
.home .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    z-index: 10;
}

.home .centered h5{
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0px 1px 1px black;
    color: #faeedf;
}
/* displa ythe message on image scrolling*/
.salutation{
    font-size: 36px;
}
.changeContent:after{
    content: ' ';
    color: #0af51d;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext {
    0%{content: "Présence, notre préoccupation"}
    33%{content: "Besoin, notre détermination"}
    60%{content: "Patience, notre acharnement"}
    100%{content: "Satisfaction, notre engoument"}
}


.home .centered h1{
    padding-top: 5px;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
    color: azure;
}

.home .centered a:hover{
    background: lightcyan;
    color: #4df50a;
}

.home .centered a{
    color: white;
    background: #91f899;
}

/* responsive on defferents screen size */

@media (max-width: 450px){
    .home {
        background-position: 50%;
    }
}

@media (max-width: 450px){
    .home .centered h5{
        font-size: 17px;
        width: 100%;
    }
    .home .centered h1{
        font-size: 15px;
        width: 100%;
    }
    .salutation{
        font-size: 15px;
        width: 100%;
    }
    #logo{

        font-size: 20px;
    }
}

@media (max-width: 1058px){
    .home .centered h5{
        font-size: 30px;
        width: 100%;
    }
    .home .centered h1{
        font-size: 25px;
        width: 100%;
    }
    .salutation{
        font-size: 25px;
        width: 100%;
    }
    #logo{
        margin-left: 75px;
        font-size: 30px;
    }
}

@media (max-width: 882px){
    .home .centered h5{
        font-size: 20px;
        width: 100%;
    }
    .home .centered h1{
        font-size: 15px;
        width: 100%;
    }
    .salutation{
        font-size: 15px;
        width: 100%;
    }
    #logo{
        margin-left: 0;
        font-size: 30px;
    }
}

@media (max-height: 1180px){
    .home .centered h5{
        font-size: 30px;
        width: 100%;
    }
    .home .centered h1{
        font-size: 25px;
        width: 100%;
    }
    .salutation{
        font-size: 15px;
        width: 100%;
    }
    #logo{
        margin-left: 0;
        font-size: 30px;
    }
}


@media (max-width: 588px){
    .home .centered h5{
        font-size: 18px;
        width: 100%;
    }
    .home .centered h1{
        font-size: 13px;
        width: 100%;
    }
    .salutation{
        font-size: 15px;
        width: 100%;
    }
    #logo{
        margin-left: 0;
        font-size: 30px;
    }
}


/*=============image scroll section================= end*/

/*=============About section================= Start*/


.aPropos{
    font-family: "Arial", sans-serif;
    background-color: #f8f8f8;
    margin: 50px;
}
.aProposTitle h1{
    color: #0af51d;
    font-size: 55px;
    text-align: center;
    text-shadow: 0px 1px 1px black;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.aPropos-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInup 2s ease;
}

.aPropos-content h2{
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.aPropos-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
    text-align: justify;
    text-indent: 20px;
}

.aPropos-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.aPropos-content button{
    display: inline-block;
    background-color: #0af51d;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 20px;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
}

.aPropos-content button:hover{
    background-color: #fea116;
    transform: scale(1.1);
}

@media screen and (max-width: 1288px) {
    .aProposTitle h1{
        font-size: 40px;
        margin-top: 30px;
    }

    .aPropos-content h2{
        font-size: 25px;
        text-align: center;
    }

    .aPropos-content p{
        font-size: 18px;
    }

    .aPropos-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 955px) {
    .aProposTitle h1{
        font-size: 40px;
        margin-top: 30px;
    }
    .aPropos{
        margin: 5px;
    }
    .group{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .aPropos-content{
        width: 100%;
        margin: 35px 0px;
    }

    .aPropos-content h2{
        font-size: 30px;
        text-align: center;
    }

    .aPropos-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .aPropos-content h2{
        font-size: 30px;
        text-align: center;
    }

    .aPropos-content button{
        font-size: 16px;
        padding: 8px 16px;
    }

    .aPropos-image{
        width: 100%;
    }
}

@keyframes fadeInup {
    0%{
        opacity: 0;
        transform: translate(50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }

}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translate(-50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }

}

/*=============About scroll section================= end*/



/*=============Gallery section================= start*/

.gallery{
    background-color: #f8f8f8;
    margin: 50px;
}

.imageCss{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    height: 450px;
    cursor: pointer;
  }

.gallery h1{
    text-transform: uppercase;
    font-weight: 900;
}

/*=============Gallery section================= end*/


/*=============section services================= start*/

.services{
    background: #f9f9f9;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px
}
.main-text{
    color: #0af51d;
    font-weight: 800;
}

.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #0af51d;
    margin-top: 20px;
}

.services .card .card-body h3{
    font-weight: 600;
    text-align: center;
}

.services .card .card-body p{
    font-size: 16px;
}

@media (max-width: 767px){
    .services {
        background: #f9f9f9;
        padding: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }

}

/*=============section services================= End*/

/*=============section Contact================= Start*/

.contact{
    margin: 50px;
    background: #f9f9f9;
}

.contact h1{
    color: #0af51d;
    font-size: 55px;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 900;
    text-transform: uppercase;
}
.contact span{
    color: #000000;
}
.coordonnes{
    background-color: #7be685;
    padding: 20px;
    color: white;
}
.coordonnes i{
    font-size: 25px;
}
.coordonnes .d-flex p{
    color: black;
    font-size: 18px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.coordonnes .d-flex p a{
    color: black;
    padding-left: 18px;
}
/*=============section Contact================= End*/


/*=============section Localisation================= Start*/
.localisation{
    margin: 50px;
    background: #f9f9f9;
}
.localisation h1{
    color: #0af51d;
    font-size: 55px;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 900;
    text-transform: uppercase;
}
.localisation span{
    color: #000000;
}
.localisation .map {
    width: 100%;
    height: 500px;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.localisation .map iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/*=============section Localisation================= End*/


/*=============section Modal ================= Start*/

#gallery-modal .modal-img{
    width: 100%;
}

/*=============section Modal ================= End*/



/*=============Page Gallery ================= Start*/

.galleryPage{
    background: #f9f9f9;
    padding: 50px 0;
}

.galleryPage img{
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0 015px rgba(0,0,0,0.3);
    cursor: pointer;
    height: 100%;
}

/*=============Page Gallery ================= Start*/



